body{
    font-family: Arial, Helvetica, sans-serif;
}
.template{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.spacing{
    letter-spacing: 2px;
}
.gray{
    color: gray;
}
.padding-bottom {
    padding-bottom: 5px;
}
.opacity {
    opacity: .5;
}
.justify-text {
    text-align: justify;
}
.bold {
    font-weight: bolder;
}
section div{
    width: 350px;
}
.horizantal--line{
    height: 5px;
    width: 150px;
    margin: 0 auto;
    background-color: #B28B61;
}
#btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px auto;
}
.filter-btn {
    padding: 5px 15px;
    border-radius: 7px;
    border: 1px solid #B28B61;
    color:#B28B61;
    background-color: white;
    margin-right: 6px;
    text-transform: capitalize;
    font-weight: bold;
}
.filter-btn:hover {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #B28B61;
}
 

@media (max-width:1400px) {
    .template{
        display: grid;
        grid-template-columns: 1fr;
    }
    #btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 